.grandparent{
    border: 2px solid black;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: black;
}


.parent{
    color: orangered;
}

.style{
    color: rgb(223, 214, 214);
    display: flex;

}
.child > button{
    background-color: orangered;
}
button{
    color: white;
}